name: '  (FAASR SYNC SECRET)'

on:
  workflow_dispatch:
    inputs:
      workflow_file:
        description: 'Workflow JSON file name'
        required: true
        type: string
      sync_to_aws:
        description: 'Sync secrets to AWS Secrets Manager'
        required: false
        type: boolean
        default: false
      sync_to_gcp:
        description: 'Sync secrets to GCP Secret Manager'
        required: false
        type: boolean
        default: false
        
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Check sync targets
        run: |
          if [[ "${{ github.event.inputs.sync_to_aws }}" != "true" && "${{ github.event.inputs.sync_to_gcp }}" != "true" ]]; then
            echo "⚠️ No sync target selected. Please check 'Sync to AWS' or 'Sync to GCP' to proceed."
            exit 1
          fi

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install boto3 pyyaml PyGithub requests cryptography
          pip install git+https://github.com/FaaSr/FaaSr-Backend.git

      - name: Sync Secret
        env:
          ALL_SECRETS_JSON: ${{ toJSON(secrets) }}
          SYNC_TO_AWS: ${{ github.event.inputs.sync_to_aws }}
          SYNC_TO_GCP: ${{ github.event.inputs.sync_to_gcp }}
        run: |
          python scripts/sync_secret.py --workflow-file ${{ github.event.inputs.workflow_file }} 
